.booking-modal{
    
    .modal-content{
        height: auto;
    }
    .booking-modal-header{
        position: relative;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        i{
            position: absolute;
            right: 0;
            top: 0;
            padding: 15px;
        }
    }
    .booking-modal-body{
        .form-group{
            label{
                margin: 5px;
            }
            
        }
        .form-control{
            margin: 5px;
        }
    }
    .booking-modal-footer{
        button{
            padding: 2px 5px;
        }
    }
}