.title {
    margin-top: 20px;
}

.list-nav {
    border-top      : 1px solid #9999;
    // border-bottom: 1px solid #9999;
    display         : flex;
    align-items     : center;
    cursor          : pointer;

    .avatar {
        margin       : 5px 0 5px 20px;
        width        : 70px;
        height       : 70px;
        border-radius: 50%;
    }

    .name {
        font-weight: 500;
        font-size  : 1.6rem;
        margin     : auto auto auto 40px;
    }
}