@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

.header {
    position      : fixed;
    top           : 0;
    left          : 0;
    right         : 0;
    z-index       : 1000;
    background    : #fff;
    box-shadow    : 0px 1px 5px rgb(206, 201, 201);
    text-transform: capitalize;
    height        : 82px;
    display       : flex;
    align-items   : center;

    .navbar_home {
        position             : sticky;
        margin               : 0 auto;
        display              : grid;
        grid-template-columns: 1.3fr 4fr 1fr;
        height               : 70px;
        background-color     : white;
        z-index              : 10000;
        flex-wrap            : wrap;
        align-items          : center;
        justify-content      : space-between;

        .logo {
            display    : flex;
            align-items: center;
            height     : 75px;

            .logo_link {
                font-size  : 2rem;
                color      : #4ABDE2;
                font-weight: 600;

                .logo_icon {
                    font-size  : 3rem;
                    padding    : 0 1rem 0 0;
                    align-items: center;
                    color      : #FFC10F;
                }
            }
        }

        .content {
            display              : grid;
            grid-template-columns: 1fr 1fr .6fr 1fr;

            &_children {
                font-size  : 1.2rem;
                align-items: center;
                cursor     : pointer;

                p {
                    margin-bottom: 2px;
                }
            }
        }

        .login {
            text-align: right;
            font-size : 1.4rem;
            cursor    : pointer;
            color     : #4ABDE2;
        }
    }
}