.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;

    .img{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            width: 500px;
        }
    }

    .login-content{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        
        img{
            object-fit: contain;
            height: 100px;
        }
        h2{
            margin: 15px 0;
            color: #333;
            text-transform: uppercase;
            font-size: 2.9rem;
        }
        .input-div{
            position: relative;
            display: grid;
            grid-template-columns: 7% 93%;
            margin: 25px 0;
            padding: 5px 0;
            border-bottom: 2px solid #d9d9d9;
            width: 100%;

            .i{
                color: #d9d9d9;
                display: flex;
                justify-content: center;
                align-items: center;

                i{
                    transition: .3s;
                }
            }

            div{
                position: relative;
                height: 45px;
                width: 585px;

                h5{
                    position: absolute;
                    left: -21px;
                    top: -18px;
                    /* transform: translateY(-50%); */
                    color: #999;
                    font-size: 18px;
                    transition: .3s;
                }

                input{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 550px;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: none;
                    padding: 2.5rem 0.7rem;
                    font-size: 1.2rem;
                    color: #555;
                    font-family: 'poppins', sans-serif;
                }

                i{
                    position: absolute;
                    right: 14px;
                    top: 28px;

                    &:hover {
                        cursor: pointer;
                    }
                }
                
            }
        }
        .error{
            span{
                color: red
            }
        }

        a{
            display: block;
            text-align: right;
            text-decoration: none;
            color: #999;
            font-size: 0.9rem;
            transition: .3s;
        }

        .login-with-fa{
            margin-top: 20px;
            text-align: center;
            i{
                font-size: 1.5rem;
                margin-right: 30px;
                width : 45px

            }
            .icon-fa{
                background: blue;
                border-radius: 52px;
                color: white;
                padding: 11px;
            }
            .icon-go{
                background: red;
                border-radius: 52px;
                color: white;
                padding: 11px;
            }
        }

    }
}

.btn-header{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

