.sections{
    height: 350px;
    background-color: #f5f5f5;
    // border : 1px solid red;
    padding: 0 210px;
    display: flex;
    flex-direction: column;

    &-header{
        position: relative;
        margin: 39px 0px;
        h3{
            display: inline
        }

        button{
            position: absolute;
            right: 0;
            border: none;

            &:hover{
                cursor: pointer;
                background-color: rgb(209, 209, 73)
            }
        }
    }

    &-content{
        &-img{
            padding: 2px;
            height: 180px ;
            width:  278px;
            img{
                height: 156px ;
                width:  278px;
                padding: 0 12px !important;
                object-fit: cover;
            }
            span{
                margin-left: 10px;
            }
        }
    }
}
.slick-disabled{
    display: none !important;
}
.slick-prev{
    left: 0px !important;
    width: 45px !important;
    height: 40px !important;
    background: #d2d2d8 !important;
    z-index: 1000;
}
.slick-next{
    right: 0px !important;
    width: 45px !important;
    height: 40px !important;
    background: #d2d2d8 !important;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1 !important;
    color: #101010 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}